# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SpringBootMicroservicesProjects\microservices002\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
